/* https://coolors.co/6e81c3-39bc78-34c4f8-ca50a1-fa7a34
pale dark blue : #6e81c3
green: #39bc78
light blue:  #34c4f8
purple: #ca50a1
orange: #fa7a34 
grey: #858585'*/

.heroImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.inlineItem{
  display: inline-block;
}
#inlineItem{
  display: inline-block;
}
#joinTeamContainers{
  display: inline-block;
  margin: 0;
  width: 40%;
  text-align: center;
}
.ui.button {
  background-color: #6e81c3;
  color: #ffff;
}

.heroImageBackground {
  background-color: #fff;
  padding-bottom: 10px;
}

.backgroundImage {
  background-image: url(../../assets/running-jumbo.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: white;
}

.mainRenderBody {
  background-color: white;
  opacity: 0.9;
  width: 80%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  padding: 20px;

}

.ui.form .inline.field > label {
  font-size: 1.2em;
}
