/* https://coolors.co/6e81c3-39bc78-34c4f8-ca50a1-fa7a34
pale dark blue : #6e81c3
green: #39bc78
light blue:  #34c4f8
purple: #ca50a1
orange: #fa7a34 
grey: #858585'*/

.heroImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#inlineItem{
  display: inline-block;
}
#joinTeamContainers{
  display: inline-block;
  margin: 0;
  width: 40%;
  text-align: center;
}
.ui.button {
  background-color: #6e81c3;
  color: #ffff;
}

.heroImageBackground {
  background-color: #fff;
  padding-bottom: 10px;
}

.backgroundImage {
  background-image: url(../../assets/running-jumbo.jpg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.sign {
  width: 50%;
}
.mainRenderBody {
  background-color: white;
  opacity: 0.9;
  width: 80%;
  margin: 30px auto auto auto;
  padding: 10px 10px 20px 10px;
}

.ui.form .inline.field > label {
  font-size: 1.2em;
}

.footer {
  position: absolute;
  min-width: 100%!important;
  bottom: 0;

}
.dashboard{
   padding:0px 20px 0px 20px;
 }
 .ui.segment{
   border-color:none;
  border: 0px;
   border-radius:0;
   box-shadow:0;
   -webkit-box-shadow: none;
   /* border: 1px solid rgba(34,36,38,.15);
   box-shadow: 0 1px 2px 0 rgba(34,36,38,.15); */
   /* -webkit-box-shadow: 0 1px 2px 0 rgba(34,36,38,.15); */
 }
 .ui.stacked.segment:after{
  border-top: none

 }
 
 
